.campaignsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px

}
.itemContainer {
    position: relative; /* 🔑 nécessaire pour positionner .closeButton à l'intérieur */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 300px;
    padding: 1rem;
    background: linear-gradient(to bottom, #29167e 5%, #746aa6 100%);
    background-color: #29167e;
    color: #ddd6cb;
    border-radius: 5px;
    margin: 10px 50px;
}
