.campainButton{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4a5568;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}
.campainTitle{
    text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ddd6cb;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}