.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(2px);
}

.modalContent {
    background-color: #1a202c;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    border: 1px solid #4a5568;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    animation: modalAppear 0.3s ease-out;
}

@keyframes modalAppear {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 1;
}

.deleteButton {
    position: absolute;
    top: -10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.validateButton {
    background: linear-gradient(to bottom, #29167e 5%, #746aa6 100%);
    background-color: #29167e;
    color: #ddd6cb;
    border-radius: 10px;
    padding:7px;
    font-size:20px;
    cursor: pointer;
}
.closeButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
